.ui.main.tiered.menu.large
  .menu
    //- block for prepend/append/replace-able menu items
    block mainMenu
      .right.menu
        a.blue.item(href="/games") 
          i.trophy.icon 
          | Games
        if (user)
          a.blue.item(href="/people/#{user.slug}") 
            i.user.icon
            | #{user.username}
          a.blue.item(href="/people/#{user.slug}")
            i.settings.icon
            | Settings
          a.blue.item(href="/sessions/#{session.hash}?method=delete") 
            i.sign.out.icon
            | Logout
        else
          a.blue.item(href="/sessions")
            i.user.icon
            | Login &raquo;

  .ui.sub.menu
    a.item.brand(href="/") #{config.service.name}
