extends layouts/default

block content
  .ui.padded.grid
    .two.column.row
      .column
        h1 #{game.name}
        if game.image
          img.ui.fluid.segment(src="/files/#{game.image}")
      .column
        h1 Coaches
        table.ui.four.column.table
          thead
            tr
              th User
              th Team
              th Rating
          tbody
            each relationship in relationships
              tr
                td
                  a(href="/users/#{relationship._user.slug}") #{relationship._user.username}
                td #{relationship._user.team}
                td 
                  .ui.huge.star.rating(data-rating="#{relationship._user.rating}", data-max-rating="5")
