extends layouts/default

block content
  .ui.padded.grid
    .two.column.row
      .column
        h1 #{game.name}
        if game.image
          img.ui.fluid.segment(src="/files/#{game.image}")
      .column
        h1 Coaches
        .ui.category.search
          .ui.icon.input
            input.prompt(type="text", placeholder="Search coaches...")
            i.search.icon
          .results
        table.ui.four.column.table
          thead
            tr
              th User
              th Team
              th Games
              th Rating
          tbody
            each user in users
              tr
                td #{user.username}
                td #{user.team}
                td #{user.games}
                td #{user.rating}
