extends layouts/default

block content
  .ui.padded.grid
    .two.column.row
      .column
        .ui.card
          .image
            if user.image
              img(src="/files/#{user.image}")
            else
              img(src="/img/default.jpg")
          .content
            a.header #{user.username}
            .meta
              if user.coach
                a Coach
              else
                a Player
              if user.team
                a #{user.team}
            .description #{user.bio}
            .ui.huge.star.rating(data-rating="3", data-max-rating="5")
            
      .column
        h1 Playing
        .ui.five.column.grid
          each relationship in relationships
            .column
              .ui.segment
                h2
                  a(href="/games/#{relationship._game.slug}") #{relationship._game.name}
                if (relationship._game.image)
                  img.ui.fluid.segment(src="/img/#{relationship._game.image}")

        h1 Availability
        if (user._id.toString() === person._id.toString())
          form(action="/slot", method="post")
            input(type="hidden", name="_user", value="#{user._id}")
            input(type="text", name="title")
            input(type="datetime-local", name="start")
            input(type="datetime-local", name="end")
            input(type="number", name="rate", value="#{user.rate || 5}")

    if user.coach
      .two.column.row
        .column
          h1 Reviews
        .column
          h1 Availability
