extends layouts/default

block content
  .ui.padded.grid
    .row
      .four.wide.column
        .ui.card
          .image
            if person.image
              img(src="/files/#{person.image}")
            else
              img(src="/img/default.jpg")
          .content
            a.header #{person.username}
            .meta
              if person.coach
                a Coach
              else
                a Player
              if person.team
                a #{person.team}
            .description #{person.bio}
            .ui.huge.star.rating(data-rating="#{user.rating}", data-max-rating="5")
            
      .twelve.wide.column
        h2 Games
        .ui.three.column.grid
          each relationship in relationships
            .column
              a.ui.card(href="/games/#{relationship._game.slug}")
                .image
                  img.ui.fluid.segment(src="/files/#{relationship._game.image}")

        if (user._id.toString() === person._id.toString())
          form.ui.form(action="/relationships", method="post")
            input(type="hidden", name="_user", value="#{user._id}")
            .two.fields
              .field
                label Game
                select.ui.dropdown(name="_game")
                  each game in games
                    option(value="#{game._id}") #{game.name}
              .field
                label Role
                select.ui.dropdown(name="role")
                  option(value="coach") Coach
                  option(value="player") Player
            .field
              button.ui.submit.button(type="submit") Add &raquo;

        h2 Availability
        table.ui.table
          thead
            tr
              td Game
              td Start
              td End
              td Rate
              td &nbsp;
          tbody
            each slot in slots
              tr
                td #{slot._game.name}
                td #{slot.start}
                td #{slot.end}
                td #{slot.rate}
                td
                  form(action="/bookings", method="post")
                    input(type="hidden", name="_player", value="#{slot._id}")
                    input(type="hidden", name="_slot", value="#{slot._id}")
                    button.ui.submit.button(type="submit") book &raquo;
        
        if (user._id.toString() === person._id.toString())
          form.ui.form(action="/slots", method="post")
            input(type="hidden", name="_creator", value="#{user._id}")
            .field
              label Game
              select.ui.dropdown(name="_game")
                each game in games
                  option(value="#{game._id}") #{game.name}
            .three.fields
              .field
                input(type="datetime-local", name="start")
              .field
                input(type="datetime-local", name="end")
              .field
                input(type="number", name="rate", value="#{user.rate || 5}")
            .field
              button.ui.submit.button(type="submit") Add &raquo;

    if user.coach
      .two.column.row
        .column
          h1 Reviews
        .column
          h1 Availability
